{% include "base.html"%}
{% block content %}
<h1 class="text-lg-center title">Заявки выполненны</h1>
<table border="0" cellspacing="0" cellpadding="4" width="90%" align="center"
       class="table_main">
<tr class="markup">
    <th>Номер заказа</th>
    <th>Дата приема</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Номер телефона</th>
    <th>Серийный номер</th>
    <th>Тип устройства</th>
    <th>Сервисная работа</th>
    <th>Статус заказа</th>
    <th>Менеджер</th>
    <th>Метод оплаты</th>
    <th>Стоимисть</th>
    <th>Комментарий</th>
</tr>

{% for i in done %}
    <tr align="center">
        <td>
            <a href="/done_id/?name_id={{i.id}}" class="colorId">
                {{ i.id }}
            </a>
        </td>
        <td>{{ i.created|date:'d. m. Y' }}</td>
        <td>{{ i.surname }}</td>
        <td>{{ i.name_client }}</td>
        <td>{{ i.phone_number }}</td>
        <td>{{ i.serial_number }}</td>
        <td>{{ i.device_type }}</td>
        <td>{{ i.service_work }}</td>
        <td>{{ i.order_status }}</td>
        <td>{{i.manager}}</td>
        <td>{% if i.payment_method == None %}
            -
            {% else %}
            {{i.payment_method}}
            {% endif %}
        </td>
        <td>{{i.price}}</td>
        <td>{{i.comment}}</td>
    </tr>
{% endfor %}

</table>

{% endblock %}