<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="back">
{% if user.is_authenticated %}

<ul class="nav nav-pills mb-5 header">
{% if xxx == "Client" %}
   <li class="nav-item ">
    <a class="nav-link" href="/my_orders">Мои заказы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts/">Наши контакты</a>
  </li>
{% endif%}
{% if xxx != "Client" %}

  <li class="nav-item ">
    <a class="nav-link textNav"  href="{% url 'main' %}">Все заказы</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link textNav" href="{% url 'new_order' %}">Новый заказ</a>
  </li>
    <a class="nav-link textNav" href="/archive/">Выполнено</a>
  </li>
  {% endif %}
  <li class="nav-item  mr-auto">
    <a class="nav-link  logOut" href="/accounts/logout/" tabindex="-1">Выход</a>
  </li>
</ul>

{% else %}
<ul class="nav nav-pills header mb-1">
  <li class="nav-item">
    <a class="nav-link  textNav" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link textNav" href="/contacts/">Наши контакты</a>
  </li>
   <li class="nav-item">
    <a class="nav-link logOut" href="/accounts/login/">Войти</a>
  </li>

</ul>

{% endif %}

<div >

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>